<div class="pokeInfo__container">
    <div class="pokeInfo__pokeHeader">
        <h1>Charmander</h1>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyeTNCWf3TnhdHVHwaQ7PGRDSkkZeObM8mPw&usqp=CAU" alt="">
        <div class="pokeInfo__poke-types">
            <div class="pokeInfo__poke-type"><span>Fire</span></div>
            <div class="pokeInfo__poke-type"><span>Fire</span></div>
        </div>
    </div>
    <div class="pokeStats">
        <p>HP: 0</p>
        <p>ATTACK: 0</p>
        <p>DEFENSE: 0</p>
        <p>SP.ATK: 0</p>
        <p>SP.DEF: 0</p>
        <p>SPEED: 0</p>
    </div>
    <div class="">

    </div>
</div>
